.payNow{
    text-align: center;    
}

.pay{
    font-family: 'Gulzar', serif;
    font-size: large;
    font-weight: bold;
}

.payScam{
    font-family: 'Gulzar', serif;
    font-size: medium;
    font-weight: bold;
    color: red;
}