
<div class="body">
    <div [formGroup]="loginForm">
        <div style="width: 100%;text-align: center" >
            <mat-card class="b" fxLayout="column" fxLayoutAlign="space-around center">
                <div class="headingH1">
                    Gaurav's Smart Phone Repairs
                </div>
                <div>
                    <mat-form-field appearance="outline" class="form">
                        <mat-label>User Name</mat-label>
                        <input formControlName="username" matInput placeholder="Enter username">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                      </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="form">
                        <mat-label>Password</mat-label>
                        <input formControlName="password" matInput placeholder="Enter Password" [type]="initialType">
                        <mat-icon matSuffix (click)="changeEyeAndType()">{{initialIcon}}</mat-icon>
                      </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-around center" >
                    <div>
                        <button class="btn" mat-raised-button color="primary" (click)="login(loginForm.value)">Log In
                            <mat-icon style="margin-left: 5px;" matSuffix>exit_to_app</mat-icon>      
                        </button>
                    </div>
                </div>
                <div class="mt-5">
                    Need an Account? <span class="blue">
                        <a routerLink="/signup">Sign up</a>
                    </span> 
                </div>
            </mat-card>
        </div>
    </div>
</div>
