
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gulzar&display=swap" rel="stylesheet">

<mat-grid-list cols="4" rowHeight="100px" style="margin: 10px;">
    <mat-grid-tile [colspan]="4" [rowspan]="6">
        <mat-card class="child">
            <div class="change-font">Hello My Name is Gaurav Kumar!!</div>
            <div class="mat-table">
                <mat-card class="child">
                    <iframe class="child" src="https://gauravkumar-tech.github.io/portfolio/"></iframe>
                </mat-card>
            </div>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>