.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .headingdeams{
    font-size: medium;
    margin: 5px;
    text-align: center;
    font-weight: bold;
    font-family: 'Gulzar', serif;
}

.remove-styling{
  margin-top: 5px;
  font-size: small;
  text-decoration: none;
  color: black  ;
}
