<div fxLayout="row">
    <mat-toolbar color="primary">
        <span>{{title}}</span>
        <span class="example-spacer"></span>
        <button mat-button matTooltip="Logout" (click)="logout()" class="show">
            Logout 
          </button>  
    </mat-toolbar>
</div>
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <!-- content for side nav -->

    </mat-drawer>
        <mat-drawer-content >
           <!-- main content will be shown here -->
           DASHBOARD
            <mat-grid-list cols="4" rowHeight="100px" style="margin: 10px;">
                <mat-grid-tile [colspan]="4" [rowspan]="4">
                 <mat-card class="child">

                 </mat-card>
                </mat-grid-tile>
                
              </mat-grid-list>
            <div id="foo">
                <button mat-fab color="primary" (click)="drawer.toggle()" aria-label="Example icon button with a delete icon">
                    <mat-icon>menu</mat-icon>
                  </button>
                </div>
        </mat-drawer-content>
  </mat-drawer-container>