.body{
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    background-color: rgb(43, 39, 39);
}

.b{
    display: inline-block;  
    margin: 50px;
    width: fit-content;
}

.mt-5{
    margin-top: 5px;
}

.blue{
    color: rgb(76, 19, 182);
    cursor: pointer;
}

.headingH1{
    font-size: large;
    font-family: 'Gulzar', serif;
    font-weight: 800;
    color: rgb(76, 19, 182);
    line-height: 5;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .form{
        width: 200px;
    }

    .btn{
        width: 200px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .form{
        width: 200;
    }
    
    .btn{
        width: 200px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .form{
        width: 500px;
    }
    
    .btn{
        width: 200px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .form{
        width: 500px;
    }
    
    .btn{
        width: 200px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .form{
        width: 500px;
    }
    
    .btn{
        width: 200px;
    }
}
