<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gulzar&display=swap" rel="stylesheet">
<h1 class="headingdeams">You Dream, We Deliver.</h1>

<mat-grid-list cols="4" rowHeight="100px" style="margin: 10px;">
    <mat-grid-tile [colspan]="4" [rowspan]="4">
        <mat-card class="child">
            <app-areachart></app-areachart>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="4" [rowspan]="1">
        <mat-card class="space">
            <p style="color: #000000"> *Note:</p>
            <p style="color: #000000;"><u> *** This is just a basic, how many devices have been repaired</u></p>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>