<h1>You Dream, We Deliver.</h1>

<mat-grid-list cols="4" rowHeight="100px" style="margin: 10px;">
    <mat-grid-tile [colspan]="4" [rowspan]="4">
        <mat-card class="child">
            <app-areachart></app-areachart>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="4" [rowspan]="1">
        <mat-card class="space">
            <p style="color: #3F51B5"> *Note:</p>
            <p style="color: #003B73;"><u> *** This is just a basic, how many devices have been repaired throughout the
                    world.</u></p>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>